<a href="inscription" class="btn btn-primary btn-lg">
  INSCRIPCION
</a>

<a href="updatestudent/{{results.[0].code}}" class="btn btn-primary btn-lg ">
  EDITAR
</a>

<a href="pay" class="btn btn-primary btn-lg ">
  PAGOS
</a>

<a href="attendances" class="btn btn-primary btn-lg ">
  ASISTENCIAS
</a>

<a href="paySecretary" class="btn btn-primary btn-lg ">
  VER PAGOS
</a>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <form action="/links/secretary" method="post">
                        <div class="form-group">
                           <input type="text" class="form-control" name="code" placeholder="codigo" autofocus required>
                        </div>
                        <hr class="my-2">
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg" >
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
 
<h1 class="display-5  text-left my-1 mt-5">
  Informacion del estudiante
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">code</th>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">cedula</th>
      <th scope="col">inscripcion</th>
      <th scope="col">telefono</th>
      <th scope="col">direccion</th>
      <th scope="col">correo</th>
       <th scope="col">estado</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
       
      <td>{{results.[0].code}}</td>
      <td>{{results.[0].first_name}}</td>
      <td>{{results.[0].last_name}}</td>
      <td>{{results.[0].identity_card}}</td>
      <td>{{results.[0].date_time}}</td>
      <td>{{results.[0].phone}}</td>
      <td>{{results.[0].address}}</td>
      <td>{{results.[0].mail}}</td>
      <td>{{results.[0].statu}}</td>
      
     
    </tr>
    
  </tbody>
</table>
<h1 class="display-5  text-left my-1 mt-5">
  Informacion sobre curso y horario
</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">curso</th>
      <th scope="col">dia 1</th>
      <th scope="col">turno</th>
      <th scope="col">entrada</th>
      <th scope="col">salida</th>
      <th scope="col">dia 2</th>
      <th scope="col">turno</th>
      <th scope="col">entrada</th>
       <th scope="col">salida</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
       
      <td>{{results.[0].name_course}}</td>
      <td>{{results.[0].day_1}}</td>
      <td>{{results.[0].shift}}</td>
      <td>{{results.[0].time_entry}}</td>
      <td>{{results.[0].time_departure}}</td>
      <td>{{results.[0].day_2}}</td>
      <td>{{results.[0].shift_2}}</td>
      <td>{{results.[0].time_entry_2}}</td>
      <td>{{results.[0].time_departure_2}}</td>
      
     
    </tr>
    
  </tbody>
</table>
